
body {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: block;
    justify-content: center;
    align-items: center;
    text-shadow: .5px 3px 3px rgba(0, 0, .5, 0.15)
}

/* HERO SECTION */

.hero-section {
    background: url("images/dallas-downtown.jpg");
    background-size: cover;
    background-position: center;
    height: 343px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#h1-hero {
    border-radius: 6px;
    color: white;
}

#h2-hero {
    margin: auto;
    color: white;
}

/* ACTIVITIES SECTION */

.activities-section {
    background: #C7D4DD;
    background-size: cover;
    height: 378px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.round-imgs {
    display: flex;
    justify-content: space-around;
    margin: auto 5px;
    padding: 0 5px;
}

.activities-img {
    border-radius: 150px;
    width: 100px;
}

p {
    padding: 0 10px;
}

/* GUIDE SECTION */

.card-guide {
    width: 400px;
    margin: 50px auto;
    display: flex;
    background: #BBD0DC;
    border-bottom: solid 5px #1d3557;
    border-radius: 10px;
    justify-content: center;
}

#guide-copy {
    margin-right: 13px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 5px;
}

#top-three-act {
    padding-bottom: 54px;
}

#avatar {
    width: 200px;
    height: 200px;
    margin: 23px 13px 23px 13px;

}